/*

Variable declaration

*/

$container-grid:grid;
$column-size:50% 50%;
$row-size:500px;
$column:grid-column;
$row:grid-row;
$white-bg:white;



/* 

Global styles

*/

body {
	margin:0;
}

/*

Intro container

*/

.first_intro {
	background-image:url(intro-bg-purple.png);
	background-size:cover;
	background-position:50%;
	height:100vh;
}


/*

Mobile-services container

*/

.second_mobile-services {
	display:$container-grid;
	grid-template-columns:$column-size;
	grid-template-rows:$row-size;
}

.second_mobile-services {
	.first-half {
	background:$white-bg;
}
	.second-half {
	background-image:url(intro-bg-purple.png);
	background-size:cover;
	background-position:50%;
	}
}

