/*

Variable declaration

*/

$container-height:500px;
$container:grid;
$column-size:grid-template-columns;
$row-size:grid-template-rows;
$column:grid-column;
$row:grid-row;

/*

start - Intro container

*/

.intro-container {
	height:$container-height;
	display:$container;
}

.intro-container .second-half {
	background-image:url(/assets/intro-bg-purple.png);
	background-size:cover;
}

.intro-container {
	.second-half, .first-half {
	width:50%;
	height:100%;	
}}

