/*

start - Intro container

*/

.intro-container {
	height:500px;
}

.intro-container .second-half {
	background-image:url(../assets/intro-bg.png);
	background-size:cover;
}

.intro-container .second-half, .intro-container .first-half {
	width:50%;
	height:100%;
	
}